
/* ul {
position: fixed;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    display: flex;
    gap: 50px;
  background-color: rgb(25, 135, 84);
  width: 98%;
  height: 30px;
  justify-content: flex-end;
 padding: 40;
 padding-top: 30px;
 padding-right: 30px;
 margin-top: -148px;
 margin-right: 15px;
 padding-left: 1px;
 padding-bottom: 15px;

} */



.nav-left img{
width: 60px;
border-radius: 20px;
margin-left: -1200%;
margin-top: -25%;
}
.navbar{
    display: inline-block;
    display: flex;
    flex-direction: row;
  background-color: rgb(25, 135, 84);
display: inline-block;
display: flex;
width: 100%;
height: 10%;
position: fixed;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
gap: 15px;
list-style: none;
margin-left: 50%;
padding-top: 1%;}



.list a{
  color: white;
  text-decoration: none;
  list-style: none;
justify-content: flex-end;}



a:hover{
color: red;
}

.top{
  text-align: center;
  background-color: white;
  margin-top: 0%;
}
.top h2{

  text-decoration: double;
  padding-top: 10%;
}

.content{

  width: 100%;
  padding: 5%;

}


.footer{
  background-color: gray;
  width: 100%;
  padding: 2%;
  text-align: center;
  margin-top: 20%;
}