.nav-left img{
width: 60px;
border-radius: 20px;
margin-left: -1300%;
margin-top: -38%;
}


.navbar{
    display: inline-block;
    display: flex;
    flex-direction: row;
  background-color: rgb(25, 135, 84);
display: inline-block;
display: flex;
width: 100%;
height: 10%;
margin-top: 0%;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
gap: 15px;
list-style: none;
margin-left: 55%;
padding-top: 1%;}



.list a{
  color: white;
  text-decoration: none;
  list-style: none;
justify-content: flex-end;}



a:hover{
color: red;
}

h3{
    text-align: center;
    margin-top: 4%;
}

.line{
    width: 3px;
    height: 20px;
    background-color: red;
}

.word{

    margin-top: -3%;
    margin-left: 5px;
}
 .outer{

    margin-left: 10%;
 }



.footer{
  background-color: gray;
  width: 96.5%;
  padding: 2%;
  text-align: center;
  margin-top: 17%;
  margin-left: -0.2%;
}