
.nav-left img{
width: 60px;
border-radius: 20px;
margin-left: -1300%;
margin-top: -38.5%;
padding: 0.2px;
}

nav{
  background-color: rgb(25, 135, 84);
  display: flex;
flex-direction: row;
  width: 100%;
height: 10%;
position: fixed;
margin-top: -16%;
}


.sentence{
    margin-top:  15%;

}
.list a:hover{
color: red;
}
.navbar ul{
  display: flex;
  justify-content: flex-end;
gap: 15px;
list-style: none;
margin-left: 55%;
padding-top: 1.5%;
}

.list a{
  color: white;
  text-decoration: none;
  list-style: none;
justify-content: flex-end;}



.main{
background-color:white ;
    width: 88%;
    height: 90vh;
display: flex;
flex-direction: row;
padding: 2%;
padding-left: 10%;
padding-top: 10%;

}





.first{

    width: 20%;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}


.first img{

    margin-top: 25%;
    margin-left: 40%;
}

.content{

    margin-left: 35%;
    margin-top: 10%;
    

}


.lower{
    margin-left: 8%;
}
.content button{

    margin-left: -12%;
    padding: 5px;
    border-radius: 6px;
}

.content button:hover{
    color: green;
}
.oldprice{
text-decoration: line-through;
}



.second{

width: 20%;
height: 43%;
background-color: white;
border-radius: 30PX;
margin-left: 12%;
}

.second img{
justify-content: center;
margin-left: 37%;
margin-top: 30%;}



.cont{
margin-left: 35%;
margin-top: 10%;}





.low button{

    margin-left: -10%;
    padding: 5px;
    border-radius: 6px;
}

.low button:hover{

    color: green;
}


.third{

background-color: white;
width: 20%;
height: 43vh;
border-radius: 30PX;
margin-left: 10%;
}







.third img{
margin-left: 45%;
margin-top: 30%;
}

.con{

    margin-left: 40%;
}



.con p{

    margin-left: -15%;
}
.lo button{
    margin-left: -10%;
        margin-left: -10%;
    padding: 5px;
    border-radius: 6px;
}




.lo button:hover{
    color: green;
}








.footer{
    width: 100%;
    height:10vh;
    background-color: gray;
}


.footer P{
margin-top: 0%;
margin-bottom: 0%;
padding-bottom: 0%;
    text-align: center;
    padding-top: 25PX;
}





.cards{

background-color: lightcyan;

height: 55%;
width: 50%;
margin: auto;
margin: 6%;
border-radius: 10%;
}

.cards P{

    margin-top: -30%;
  text-align: center;
  transform: scale(1.1);          /* start zoomed in */
  transition: transform 0.3s ease;
}


.cards button{

    margin-left: 28%;
    border-radius: 20%;
    padding: 8%;
    
}
.cards button:hover{

   transform: scale(1.1);          /* start zoomed in */
  transition: transform 0.3s ease;
}

h1{
 background-color: white;
    text-align: center;
    margin-bottom: 0%;
    margin: top 12%;
}