.nav-left img{
width: 60px;
border-radius: 20px;
margin-left: -1300%;
margin-top: -38%;
}


.navbar{
    display: inline-block;
    display: flex;
    flex-direction: row;
  background-color: rgb(25, 135, 84);
display: inline-block;
display: flex;
width: 100%;
height: 10%;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
gap: 15px;
list-style: none;
margin-left: 55%;
padding-top: 1%;}



.list a{
  color: white;
  text-decoration: none;
  list-style: none;
justify-content: flex-end;}



a:hover{
color: red;
}



.footer{
  background-color: gray;
  width: 98%;
  padding: 1%;
  text-align: center;
  margin-top: 44%;
}

.success img{
margin-left: 43%;
margin-top: 10%;}

.txt{

margin-left: 37%;
}

.btn{
        margin-left:35%;

}
.btn button{

    margin-left:15%;
    padding: 1%;
    border-radius: 30px;
    background-color: green;
    border: black;

}

.btn a{
    text-decoration: none;
    
}

.btn button:hover{
    background-color: yellow;
    
    
}