    
   .nav-left img{
width: 60px;
border-radius: 20px;
margin-left: -1280%;
margin-top: -38%;
}
   
   .navbar{
    display: inline-block;
    display: flex;
    flex-direction: row;
  background-color: rgb(25, 135, 84);
display: inline-block;
display: flex;
width: 100.5%;
height: 10%;
margin-top: 0%;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
gap: 15px;
list-style: none;
margin-left: 55%;
padding-top: 1%;}



.list a{
  color: white;
  text-decoration: none;
  list-style: none;
justify-content: flex-end;}



a:hover{
color: red;
}


.title h3{

    text-align: center;
    text-decoration: solid;
    margin-top: 3%;
}

.one{
    margin-left: 25%;
    margin-top: 4%;
}

.two{
    margin-left: 25%;
        margin-top: 3%;

}

.footer{
  background-color: gray;
  width: 96.5%;
  padding: 2%;
  text-align: center;
  margin-top: 19%;
  margin-left: -0.2%;
}