<html>

<head>
  <meta charset="UTF-8">
  <title>Study</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>


<body>
    <div class="app" ng-app="myapp" ng-controller="mycontroller">




<p>Date : {{mydate | date:'fullDate'}}</p>

<p>My name: {{myname | uppercase}}</p>

<p>Currency: {{mycurr | currency:'$'}}</p>

<p>{{"Angular" | reverse}}</p>


<p>{{"fmyriam"|capitalize}}</p>


<message></message>

<card name="Myriam" age="25"></card>

<counter count="mycount"></counter>


<button ng-click="sayhello(name)"></button>

<mybtn ng-click="sayhello()"></mybtn>

    </div>






    <script>
var app= angular.module('myapp',[])

app.controller ('mycontroller',function($scope){


    $scope.mydate= new Date()
    $scope.myname= 'myriam'
    $scope.mycurr=500

$scope.mycount=1

$scope.sayhello=function(){
    alert("HIII Myriamm")
}

})


//my own filter bykon bara el controller 

app.filter('reverse',function(){
return function (input){

    return input.split('').reverse('').join('')
}

})






app.filter('capitalize',function(){

    return function(input){
    if (!input) return ""
return input.charAt(0).toUpperCase() + input.slice(1).toLowerCase()
    }
    })











// my own directive
    app.directive('message',function(){

        return{

            template:"<h1>HIiiiii MIIII</h1>"
        }
    })
    





    // 3mlt my own directive w h-set values fo2 fl tag bt3o w lw 7wlt a8yr el values fl controller msh htt8yr fl directive
//private scope
    app.directive('card',function(){

        return{

            scope:{
                name:"@",
                age:"@"
},

template: "<p>{{name}}  {{age}}</p>"

        }


    })





    // directive b = ay t8yeer fl controller hysm3 fl directive

    app.directive('counter',function(){

return{

scope:{

    count:"="
},
template: `<button ng-click="count = count - 1">-</button>
{{count}}
<button ng-click="count = count + 1">+</button>

`

}

    })













        // &.
    //    خلّي الـ directive يقدر ينادي
//. function من الكنترولر


    app.directive('mybtn',function(){

        return{

            scope:{

onclick: "&"
            },

            template:`<button ng-onclick="ClickMe()">click me </button>`
        }
    })





//     link =
// المكان اللي أكتب فيه كود يحصل بعد ما العنصر يظهر في الصفحة

    </script>
</body>
</html>