<div class="container mt-5" ng-controller="registerController">

<div class="row justify-content-center">

<div class="col-md-5">

<div class="card shadow p-4">

<h3 class="text-center mb-4">Create Account</h3>

<form ng-submit="register()">

<div class="mb-3">
<label>Email<span class="text-danger">*</span></label>

<input 
type="email"
class="form-control"
ng-model="user.email"
required>

</div>




<div class="mb-3">
<label>Username<span class="text-danger">*</span></label>
<input type="text"
class="form-control"
ng-model="user.username"
required>
</div>


<div class="mb-3">
<label>Password<span class="text-danger">*</span></label>

<input 
type="password"
class="form-control"
ng-model="user.password"
required>

</div>


<div class="mb-3">
<label>Confirm Password<span class="text-danger">*</span></label>

<input 
type="password"
class="form-control"
ng-model="user.confirmPassword"
required>

</div>




<button type="submit" class="btn btn-success w-100">
Register
</button>


<p class="text-center mt-3">

Already have account?

<a href="#!/login">
Login
</a>

</p>

</form>

</div>
</div>
</div>
</div>